[2016-10-14 22:48] davidfowl opened #1 "Reference Assemblies experiment"
The goals of this experiment are:
- Simplify the user experience with respect to referencing ASP.NET Core as a product
- Less moving parts when deploying (can we stop deploying redundant things?)
- Get the crossgen (native compiled) benefits on dev boxes and on azure

We have tried solved some of these things with meta packages and the package cache but it's been a bit of a grab bag so far. Also,

[2016-10-14 22:56] muratg commented on #1
What's in Microsoft.Extensions?

[2016-10-19 08:24] davidfowl opened #2 "Channels + ASP.NET"
## Channels + ASP.NET

Today our http abstractions expose `Stream` via the `HttpRequest.Body` and `HttpResponse.Body`, until channels has mass adoption and we have enough components that can natively understand them, we **_cannot**_ replace the properties on these types.

With those constraints in mind we need to find a compatible way to introduce these new abstractions. We also want to get raw ac

[2016-10-19 09:47] davidfowl opened #3 "Low(er) Allocations ASP.NET Core"
## Themes
- Share more memory (try to avoid framework code using their own pool when data is already pooled)
- Reduce the number of intermediate translations from byte[] -> char[] -> resulting object
- String parsing should avoid creating as much garbage as possible
- UTF8 is the most common encoding in our scenarios, so consider fast paths for performance critical code.
## Areas we can improve to

[2016-10-19 09:53] aL3891 commented on #2
re: that last point, what would happen if a middleware reads from the body using the channel and another later middleware after that reads using the stream, would that cause issues? Maybe its fine as long as the first middleware makes sure to call `Advance()` and the stream implementation updates its position. (can you call advance with only part of the buffer?)

[2016-10-19 10:27] davidfowl commented on #2
That would be a good sample to add.

[code]

If you do this, it would work fine if the backing stream was a channel. The first read would give you some data, then the next actual stream read would still work.

If the stream wasn't backed by a channel and the wrapping channel did `CopyToAsync` it would be broken. The `CopyToAsync` operation would be running and the `ReadAsync` would probably just n

[2016-10-19 18:33] halter73 commented on #2
@aL3891 Do you have any examples of any middleware that reads just part of the request body and then leaves the request stream in place without wrapping or replacing it?

How would the first middleware reading from the request stream avoid potentially overreading? I guess it's possible that the middleware could know exactly how many bytes it needs to read in advance, but I'm not sure of a scenario

[2016-10-19 18:38] grahamehorner commented on #1
+1 for MyGet packages

[2016-10-19 19:53] aL3891 commented on #2
@halter73 well no not really in practice.. One example might be reading image metadata or if someone has some custom message dispatching or something. But given that its such a general mechanism I just think its a case that should be considered, as David said, it should be predictable

Maybe its enough to just throw an exception in those cases. I don't think people would really do this on purpose

[2016-11-10 21:50] damienbod opened #5 "Add cache busting for health check HTTP GET"

[2016-11-10 21:50] damienbod opened #6 "Add disk check"

[2016-11-10 21:54] damienbod opened #7 "Return health check results as json in the 502 response"

[2016-11-10 21:56] damienbod opened #8 "Use a collection of URLs instead of a single URL for the AddUrlCheck"

[2016-11-10 22:39] damienbod commented on #5
added

[2016-11-10 22:39] #5 closed

[2016-11-10 23:30] damienbod opened #12 "Add States for the JSON result"

[2016-11-10 23:31] damienbod opened #13 "Add grouping possibility for the check"
Tags maybe...

[2016-11-11 20:09] damienbod commented on #7
Hi @anurse @glennc

I'm going to return the check results in the body of the 502.

What do you think of this return DTO?

[code]
greetings Damien

[2016-11-12 02:07] damienbod commented on #7
Have a working prototype here with results:

https://github.com/damienbod/AspLabs/tree/damienbod/add-results-healthcheck/src

http://localhost:5050/ , the external service will display the json results of the checks.

I want to add names with a dictionary so that the results can be grouped.

[2016-11-12 02:17] damienbod commented on #7
https://github.com/aspnet/AspLabs/pull/14

[2016-11-12 02:49] damienbod commented on #12
In https://github.com/aspnet/AspLabs/pull/14

[2016-11-13 19:46] damienbod commented on #8
Added a check for multiple URL checks.

If all url checks are successful => check OK, status SUCCESS
If all url checks fail => check FAILED, status FAILED
If one >1 failed and not all success => check SUCCESS, status WARNING

What do you think?

part of https://github.com/aspnet/AspLabs/pull/14

Greetings Damien

[2016-11-14 18:16] anurse commented on #7
As commented in the PR, it looks pretty good. I do think we should avoid adding properties until we've fully designed what they will look like and do. So let's just limit the `HealthCheckResult` to a `CheckStatus` and a `Description` for now.

[2016-11-15 18:45] #7 closed

[2016-11-15 18:51] damienbod commented on #8
@glennc @anurse
I would like to extend this method so that the check can be configured.
Default: If one >1 failed and not all success =>  status Warning.
Strict: If one >1 failed and not all success => status Unhealthy.

OK?

Also, is it OK that I continue to add features, checks? I know you are very busy and don't have time.

Greetings Damien

[2016-11-15 18:54] #12 closed

[2016-11-15 19:42] damienbod commented on #8
https://github.com/aspnet/AspLabs/pull/15

[2016-11-16 08:26] JuergenGutsch commented on #13
Maybe like this:
[code]
A HealtCheckGroup could technically be a simple HealthCheck that just checks other HealthChecks

[2016-11-16 09:10] damienbod commented on #13
We could also add a strict parameter to the group.

If 0 child items are Healthy => Unhealthy
childItems Healthy >0 < max => Unhealthy, Warning depending on strict parameter
max healthy => Healthy

The group could then be handled as a unit. Child items are only evaluated as part of the group.

Greetings Damien

[2016-12-08 09:15] lurumad opened #19 "Every request http://localhost:5050 runs health checks"
@damienbod @glennc @JuergenGutsch Every request to http://localhost:5050 runs health checks. I've attached an image that favicon.ico runs health checks (Forget css is a Chrome ext)

![halthchecks](https://cloud.githubusercontent.com/assets/1729519/21003976/77c342b8-bd2e-11e6-926c-5ff83ff75fe7.png)

Also http://localhost:5050/aaa or whatever path you use.

¿What do you think if health check provide

[2016-12-08 09:43] JuergenGutsch commented on #19
You are right. I would prefer to have a separate route (provided by a middleware) for that. Something like http://localhost:5000/healthchecks the same way swashbuckle does it: http://localhost:5000/swagger

[2016-12-09 07:12] lurumad commented on #19
Yep,

In my implementation I used a PathString property called EndPoint:

[code]
and the middleware validates:

[code]

[2016-12-13 22:05] ycrumeyrolle opened #20 "Healthcheck project"
I had worked on healthcheck on my own side without seen the work done here.
The code is just commited here : https://github.com/ycrumeyrolle/HealthCheck/tree/dev

The goal is to provide an endpoint for HTTP load balancer health check and to provide an endpoint health status of the application.
For example, the /ping endpoint simply returns 200 of 502 HTTP status based on server maintenance state a

[2016-12-15 06:59] damienbod commented on #20
@ycrumeyrolle cool project, really cool stuff.

@glennc @anurse @davidfowl  @lurumad @JuergenGutsch We now have 3 good projects for health checks with some cool ideas.

If you want, we could create an ASP.NET health check github group and implement this feature for you with your guidance, then you don't need to implement it yourself. Or we wait and contribute to your new repo.

 What do you think?

[2017-01-06 06:15] glennc commented on #19
Yeah, I expect we would end up using path more. Using a separate port was an experiment in this repo because if I wanted to investigate whether it was a good idea to provide the functionality.

[2017-03-19 20:42] alhardy commented on #20
Looks like this come from [Metrics.Net](https://github.com/etishor/Metrics.NET) :)

I've [ported](https://github.com/alhardy/AppMetrics/tree/1.0.0) to dotnet core after trying to get commitment to support dotnet core with no luck.

https://alhardy.github.io/app-metrics-docs/getting-started/health-checks/index.html#configuring-health-checks

[2017-03-21 03:51] glennc commented on #20
We moved the code we have here over to github.com/aspnet/HealthChecks

[2018-01-01 22:42] aspnet-hello opened #75 "Proxy Callback/Lamda"
_From @grahamehorner on Friday, December 8, 2017 7:15:15 PM_

When using the proxy from within a controller action method the original request payload is empty when the proxy request is call if the method has a property binding, please allow the proxy to accept a lamda or a callback where the request payload/parameter collection maybe used/modified prior to forwarding the request to the destinatio

[2018-01-01 22:42] aspnet-hello opened #108 "Possibility to intercept the Proxy response"
_From @stijnvanbossuyt on Thursday, December 7, 2017 7:07:32 AM_

Add the possibility to intercept the proxy response to eg filter out data, etc.

_Copied from original issue: aspnet/Proxy#82_

[2018-01-01 22:43] aspnet-hello opened #107 "MVC Controller Action ProxyRequest"
_From @grahamehorner on Wednesday, November 29, 2017 2:50:08 AM_

use case: sometimes a developer may wish to perform custom actions prior to proxying request to other services; these custom action may be generic for all proxy request or bespoke for a single type of request; by allowing the ProxyRequest extension to HttpContext to return an HttpResponseMessage to a controller that controller can t

[2018-01-01 22:44] aspnet-hello opened #106 "metrics"
_From @grahamehorner on Tuesday, November 28, 2017 12:22:55 PM_

Please consider adding some middleware logging/metrics to determine perform and/or any issues with routing to services

_Copied from original issue: aspnet/Proxy#78_

[2018-01-01 22:44] aspnet-hello opened #105 "Samples"
_From @grahamehorner on Tuesday, November 28, 2017 10:05:36 AM_

Please provide more samples on how to use the Proxy middleware; dynamic routing and/or selective routing of URIs to backend services etc.

_Copied from original issue: aspnet/Proxy#77_

[2018-01-01 22:45] aspnet-hello opened #104 "Suggestion: SharedProxyOptions.MessageHandler should be a Func that returns the MessageHandler"
_From @adamholdenyall on Thursday, November 2, 2017 2:08:28 PM_

I have spent a good chunk of time chasing down an issue where a long running request through the proxy deadlocked other short requests until it finished. I finally narrowed it down to the fact that it was using the same MessageHandler for every request, and HttpClientHandler only seems to support one request at a time (I am on an old

[2018-01-01 22:46] aspnet-hello opened #103 "Dynamically and conditionally selecting target url"
_From @hikalkan on Monday, October 9, 2017 11:10:37 PM_

Think that I'm creating an application;

* Forwards /api/service1/... -> https://domain1.com/api/service1/...
* Forwards /api/service2/... -> https://domain1.com/api/service2/...

And does nothing (does not forward) for other URLs (example: /api/service3).

Thus, we can forward some URLs but also use MVC framework to provide other services i

[2018-01-01 22:47] aspnet-hello opened #76 "General info, project goals, status on Proxy"
_From @austindrenski on Monday, September 4, 2017 8:49:33 PM_

I'm working on some reverse proxy middleware for my day job and wanted to get an understanding of where this project is at—and where it is going—to see if there is potential to get involved.

After looking through the samples/unit tests/issues, I have a few questions about the goal of the project and its current status.

## Project goa

[2018-01-01 22:47] aspnet-hello opened #102 "Should websockets work on release versions of ASP.NET Core and .NET Core?"
_From @starquake on Thursday, August 17, 2017 8:12:03 AM_

This is more of a support request than an issue maybe. If this is the wrong place for this question please direct me somewhere else.

When I run the samples it forwards websockets to an Angular Cli running ng serve just fine. When I try to use it with my newly created ASP.NET Core 2.0 that I created with VS 2017 15.3 it doesn't work. The f

[2018-01-01 22:49] aspnet-hello opened #101 "RunProxy Uses Default Timeout"
_From @Tratcher on Thursday, March 30, 2017 9:41:02 PM_

_From @AceCoderLaura on March 31, 2017 3:56_

When using a proxy to redirect calls from ASP to my WCF service, timeouts occur. I suspect that the proxy's HttpClient is using the default request timeout. There needs to be a way to set the timeout.

[code]

Apologies if this is the wrong repository.

_Copied from original issue: aspnet/Home#19

[2018-01-01 22:49] aspnet-hello opened #100 "WebSocket connect error is not forwarded"
_From @mkosieradzki on Thursday, February 23, 2017 6:20:12 PM_

Opening as requested in #41

Currently due to lack of WebException support in netstandard13 in case of connect error, a generic 400 error is returned instead of forwarding original response.

In full .NET Framework following code could be used to extract the original response
[code]

_Copied from original issue: aspnet/Proxy#45_

[2018-01-01 22:50] aspnet-hello opened #99 "Refactoring ProxyMiddleware"
_From @Marusyk on Thursday, February 23, 2017 2:47:48 PM_

Made refactoring for ProxyMiddleware.

Added two methods `CreateRequestMessage` and `CopyResponseAsync` to use in `Invoke`

It makes some improve of reading the code

_Copied from original issue: aspnet/Proxy#44_

[2018-01-01 22:51] aspnet-hello opened #98 "Feature Request - Add web socket/SignalR support"
_From @davidpeden3 on Thursday, January 5, 2017 6:48:13 AM_

It would be great to be able to utilize SignalR behind a Kestrel-hosted reverse proxy.

_Copied from original issue: aspnet/Proxy#38_

[2018-01-01 22:51] aspnet-hello opened #97 "Support for proxying to path in a (virtual) folder"
_From @RaYell on Wednesday, December 21, 2016 2:34:27 AM_

Imagine you want to have the proxy done in such a way that
`example1.com/my/method` is proxied to `example2.com/some/folder/my/method`. The current implementation does not support this case as the resource path is always taken from the original request.

This could be achieved by having additional parameter in `ProxyOptions` and adding thi

[2018-01-01 22:51] aspnet-hello opened #96 "NETStandard as global dependency"
_From @mrapan on Monday, December 19, 2016 7:15:20 AM_

It looks like NETStandard.Library is a global dependency in project.json, this leads to .NET Core dependencies even if targeting full framework.

_Copied from original issue: aspnet/Proxy#36_

[2018-01-01 22:53] aspnet-hello opened #95 "Adding additional Headers?"
_From @dorlandode on Saturday, December 10, 2016 9:56:29 AM_

What do you think about adding the ability to add additional headers to the proxy request.  For example, Authorization: Basic SomeBase64String

I was thinking of adding Headers as an IDictionary<string, string> property on the ProxyOptions.

Then in the ProxyMiddleware adding this on line 84:
            // Add additional headers

[2018-01-01 22:53] aspnet-hello opened #94 "Behind IIS had to remove Request.PathBase from URI in ProxyMiddleware.cs"
_From @FritzHerbers on Wednesday, November 23, 2016 5:08:37 AM_

We have two Webservices. The first APP1 serves the wwwroot, a WEBAPI api/app1/.. and the proxy to the second Webservice (old ASP.NET) api/app2/..., with MapWhen (httpContext.Request.Path.Value.StartsWith == /api/app2/).

Everything works fine without IIS.

In IIS we use https://server/APP1 as base URI.
Requests for the second Webserv

[2018-01-01 22:53] aspnet-hello opened #93 "Strip Content-Length header when Transfer-Encoding header is set on request and response"
_From @halter73 on Wednesday, October 12, 2016 4:50:40 PM_

I seems the HTTP the spec suggests removing the content-length header when a transfer-encoding header is set.

https://github.com/aspnet/KestrelHttpServer/pull/1163#discussion_r83061038

_Copied from original issue: aspnet/Proxy#30_

[2018-01-01 22:53] aspnet-hello opened #92 "Redirect behavior"
_From @Peperud on Tuesday, June 28, 2016 3:00:54 PM_

Thinking out loud...
1. The default way for a reverse proxy to handle redirects should be to let them go back to the client. By default `HttpClient` does not do that.
2. While passing redirect responses back to the client, the proxy should be cleaver enough to detect which URLs point to the upstream server behind the proxy and change them to po

[2018-01-01 22:54] aspnet-hello opened #91 "Enable dynamic routing"
_From @ycrumeyrolle on Tuesday, October 20, 2015 3:02:41 PM_

The proxy should be able to send the underlying request to different hosts based on the request context.

For example
Incoming request: https://mysite.com/api1/
Outgoing request : http://myapi1.local/

Incoming request: https://mysite.com/api2/
Outgoing request : http://myapi2.local/

We could imagine a IProxyRouter. Default implementat

[2018-01-01 22:55] aspnet-hello opened #90 "Store original request values for ip address, host, and scheme in headers"
_From @mikaelm12 on Wednesday, August 19, 2015 11:40:58 AM_

This allows you to restore the values of the request with the override header middleware

_Copied from original issue: aspnet/Proxy#4_

[2018-02-21 12:06] samcov commented on #3
Good stuff and @anurse is doing great work on SignalR!!!

[2018-03-07 03:35] byzheng opened #89 ".Net Core 2.1 for Proxy"
I am trying to use Proxy package (https://github.com/aspnet/Proxy), but get error about `AddProxy` is not defined. See details from here: https://stackoverflow.com/questions/42000362/creating-a-proxy-to-another-web-api-with-asp-net-core

Then I tried to compile the package from source codes. Add get an error about
[code]

[2018-05-29 09:48] InnovistaLucia opened #88 "Websocket through proxy not working (2.1.0 rc 1 and .NET Core 2.1)"
We are using self-hosted services with recent .NET Core 2.1 RC and the corresponding aspnetcore components. These microservices should run on several internal ports and the only public access should be via a proxy software (former node.js now .NET Core 2.1 also). We try to use the Microsoft.AspNetCore.Proxy Component [https://github.com/aspnet/Proxy](url) V 0.2.
The proxy should also forward webso

[2018-06-11 08:53] RonnyRen opened #87 "How to make proxy work that preserver original request URL as Nginx? Does it support?"
Example:
The Application Server: Name "VMApp", ASPNET Core API project
The access URL is http://VMApp:8011/api/values

The ASPNET Core Proxy Server: Name "VMAppProxy", ASPNET Core Web Application project
ASPNet Core 2.1 project
Proxy setting:
![image](https://user-images.githubusercontent.com/33855404/41325718-b17a4926-6e70-11e8-93c8-db2e79b726e1.png)
![image](https://user-images.githubusercontent

[2018-08-02 17:11] beefo opened #65 "Microsoft.AspNetCore.Proxy: ProxyService.cs HttpClient Timeout"
I realize Proxy is an unsupported experiment at this time, but wanted to make a suggestion from our experience testing with it.

**Issue**
[ProxyService.cs](https://github.com/aspnet/Proxy/blob/master/src/Microsoft.AspNetCore.Proxy/ProxyService.cs#L20) creates a HttpClient object with [default timeout](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClient.

[2018-09-12 19:14] muqeet-khan opened #70 "StackOverflowException upon 404 for initial HEAD request"
If the API does not accept a HEAD request for the "set base" URL and returns a 404 then the REPL errors out with a StackOverflowException.  ("Process is terminating due to StackOverflowException.")

The base URL should probably accept a HEAD request? But, in case it does not, like the one I was trying, may be a more meaningful error will be helpful.

Even though the base URL returned a 404, REPL s

[2018-09-25 11:32] oliverjanik opened #86 "[Feature Request]: Please update nuget for Microsoft.AspNetCore.Proxy"
Reopening: #2794

`<rant>`
What's with the bloody bots running around closing long standing feature requests? The issue is open because it has not been resolved yet. Seems every repo has a bot you have to fight, lately.
This one is special because not only it closes discussion it locks it as well, just in case you wanted to respond.
`</rant>`

[2018-10-09 20:08] natemcmaster commented on #1
Closing as this experiment has been abandoned.

[2018-10-09 20:08] #1 closed

[2018-10-09 20:09] natemcmaster commented on #2
Closing as this experiment has moved into production as System.IO.Pipelines. See https://blogs.msdn.microsoft.com/dotnet/2018/07/09/system-io-pipelines-high-performance-io-in-net/

[2018-10-09 20:09] #2 closed

[2018-10-09 20:09] natemcmaster commented on #6
Stale.

[2018-10-09 20:09] #6 closed

[2018-10-09 20:11] natemcmaster commented on #8
Closing as this issue is stale. HealthChecks has moved into production. Use https://github.com/aspnet/AspNetCore for issues on this feature in the future.

[2018-10-09 20:11] #8 closed

[2018-10-09 20:11] natemcmaster commented on #20
Closing as this issue is stale. HealthChecks has moved into production. Use https://github.com/aspnet/AspNetCore for issues on this feature in the future.

[2018-10-09 20:11] #20 closed

[2018-10-09 20:11] natemcmaster commented on #19
Closing as this issue is stale. HealthChecks has moved into production. Use https://github.com/aspnet/AspNetCore for issues on this feature in the future.

[2018-10-09 20:11] #19 closed

[2018-10-09 20:11] natemcmaster commented on #13
Closing as this issue is stale. HealthChecks has moved into production. Use https://github.com/aspnet/AspNetCore for issues on this feature in the future.

[2018-10-09 20:11] #13 closed

[2018-10-09 20:13] natemcmaster commented on #3
Closing as this issue is stale. Use https://github.com/aspnet/AspNetCore for ongoing development projects on ASP.NET Core.

[2018-10-09 20:13] #3 closed

[2018-10-12 18:53] natemcmaster opened #31 "Add CI for this repo"
Add an Azure DevOps build definition to produce builds for PRs and commits.

[2018-10-12 18:54] natemcmaster commented on #31
cc @Eilon @anurse what do you think about having this repo also produce packages on a public feed?

[2018-10-12 18:54] anurse opened #32 "Change dotnet-trace to collect via File-based eventpipe config."
https://dotnetfeed.blob.core.windows.net/orchestrated-release-2-2/20181010-04/final/assets/Sdk/2.2.100-preview3-009428/dotnet-sdk-2.2.100-preview3-009428-win-x64.zip has support for File-based eventpipe configuration. It does not currently have support for automatic flushing, but we could have a "start/stop" tracing mechanic.

[2018-10-12 19:03] anurse opened #33 "Add initial prototype of dotnet-dump command"
[code]

The format of <EVENTSPEC> is TBD but would be a syntax that allows specifying the options required to enable the provider (name, level, keywords, args) and the ID/Name of the event to trigger on. We would also support well known "short names" for important events, such as thread-pool starvation, ASP.NET Core requests starting, etc.

[2018-10-12 19:11] anurse commented on #31
Yeah, we'll want to produce signed tools packages for `dotnet-monitor` and get them up on a public MyGet

[2018-10-12 20:04] Eilon commented on #31
I'm OK with it. @DamianEdwards any concerns? Presumably everything here would be permanently in pre-release. Only if something makes it out into a "regular" repo it would have a chance at RTM?

[2018-10-16 21:47] anurse commented on #33
Initial prototype is in, can capture a dump on-demand. No triggers yet.

[2018-10-16 21:47] #33 closed

[2018-10-17 15:18] #32 closed

[2018-10-17 18:51] aspnet-hello opened #36 "`.AddGitHubWebHooks();` custom secret value"
_From @MartinDawson on Saturday, October 6, 2018 11:30:43 AM_

`.AddGitHubWebHooks();` seems to internally use `appsettings.json`.

It would be nice to get the value directly myself and pass it in as a parameter because I don't want to use `appsettings.json`.

Thanks!

_Copied from original issue: aspnet/WebHooks#326_

[2018-10-17 18:51] aspnet-hello opened #37 "Project Roadmap"
_From @ankitbko on Thursday, August 30, 2018 9:30:05 PM_

Is this still being developed? Do we have a timeline or roadmap for this?

I am currently using myget feed, have we published this to nuget.org as well?

_Copied from original issue: aspnet/WebHooks#325_

[2018-10-17 18:51] aspnet-hello commented on #37
_From @Eilon on Monday, September 10, 2018 10:22:31 AM_

@danroth27 can you provide the latest info?

[2018-10-17 18:51] aspnet-hello commented on #37
_From @ankitbko on Monday, September 17, 2018 7:59:10 PM_

Any update on this?

[2018-10-17 18:51] aspnet-hello opened #38 "ASP.NET Core WebHooks moved out of ASP.NET Core 2.1"
_From @danroth27 on Friday, May 4, 2018 2:55:37 PM_

Discussion for https://github.com/aspnet/Announcements/issues/299

------

We are moving ASP.NET Core WebHooks out of the ASP.NET Core 2.1 to give more time to validate the design and implementation. We will continue to ship previews ASP.NET Core WebHooks packages, but they not ship as stable packages as part of the ASP.NET Core 2.1 release.

##

[2018-10-17 18:51] aspnet-hello commented on #38
_From @WestDiscGolf on Wednesday, May 9, 2018 12:42:49 PM_

Thanks for the update @danroth27. I can't deny I'm a little disappointed to hear this but completely understand the reasoning. It's better to have good quality than ship something early and not be happy with it :-)

I have been working on [my own webhook](https://github.com/WestDiscGolf/Fitbit.Net-Webhook) which I will update with the lat

[2018-10-17 18:51] aspnet-hello commented on #38
_From @tpeczek on Wednesday, May 30, 2018 11:38:29 AM_

Is there a plan to make 1.0.0-preview3-final available on NuGet? Currently it's only on MyGet.

[2018-10-17 18:51] aspnet-hello commented on #38
_From @WestDiscGolf on Wednesday, May 30, 2018 11:42:18 AM_

@tpeczek none of the others, AFAIK, have been put on nuget so doubt it. I had to add the myget feed for my Webhook. Hoping more info in the 2.2 time frame will come out soon :-)

[2018-10-17 18:51] aspnet-hello commented on #38
_From @tpeczek on Wednesday, May 30, 2018 11:48:04 AM_

@WestDiscGolf 1.0.0-preview1-final and 1.0.0-preview2-final are on NuGet and you can use them. I'm also using MyGet rigth now, but with ASP.NET Core 2.1.0 RTM out I was hoping to switch my project back to NuGet. The only thing stopping me is absence of 1.0.0-preview3-final.

[2018-10-17 18:51] aspnet-hello commented on #38
_From @WestDiscGolf on Wednesday, May 30, 2018 11:50:38 AM_

@tpeczek ah cool. Dont think I realised. When it was dropped from the 2.1 timeframe other stuff, both tech and personal, got in the way. Hope to pick it back up again once more info on 2.2 is released.

[2018-10-17 18:51] aspnet-hello commented on #38
_From @WestDiscGolf on Saturday, June 2, 2018 12:14:38 PM_

@tpeczek Just checked and 1.0.0-preview3-final isn't on myget anymore :-(

@danroth27 / @dougbu Any update on 1.0.0-preview3-final on nuget?

[2018-10-17 18:51] aspnet-hello commented on #38
_From @tpeczek on Saturday, June 2, 2018 1:27:05 PM_

@WestDiscGolf It looks like it's still there: https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.AspNetCore.WebHooks.Receivers/1.0.0-preview3-final

[2018-10-17 18:51] aspnet-hello commented on #38
_From @WestDiscGolf on Saturday, June 2, 2018 1:29:11 PM_

@tpeczek Thanks for that. I thought I'd tried that but must have missed typed it :-)

[2018-10-17 18:51] aspnet-hello commented on #38
_From @vankampenp on Monday, July 16, 2018 1:08:20 AM_

What is the best place to discuss the functionality of webhooks in 2.x?
I am missing a way to create a custom webhook, or at least lack the understanding how to do that :-)
There were two webhook consumers that I would like to integrate, but each are different from the once that are provided. For example WooCommerce on Wordpress uses JSON, so

[2018-10-17 18:51] aspnet-hello commented on #38
_From @tpeczek on Monday, July 16, 2018 1:17:38 AM_

@vankampenp

If what you are really looking for is creating your own custom webhook receiver you may find my blog series useful: [Under the hood of ASP.NET Core WebHooks](https://www.tpeczek.com/2018/05/under-hood-of-aspnet-core-webhooks.html)

You may also want to take a look at coupel early custom receivers implementations:
- [Fitbit.Net-Webho

[2018-10-17 18:51] aspnet-hello commented on #38
_From @WestDiscGolf on Monday, July 16, 2018 1:30:55 AM_

@vankampenp I documented my investigation of the the early webhooks and writing the fitbit one. Check out [my blog series](https://adamstorr.azurewebsites.net/blog/aspnetcore-webhooks-mini-series). Hope this helps.

[2018-10-17 18:51] aspnet-hello commented on #38
_From @vankampenp on Thursday, July 26, 2018 6:49:15 AM_

@tpeczek and @WestDiscGolf, thanks these are useful. I had hoped to get an example that shows how to override some methods to allow you to customize the webhook, rather than changing the available source. But maybe this is the root. I will post an issue.

[2018-10-17 18:51] aspnet-hello commented on #38
_From @lsuarez5280 on Tuesday, August 28, 2018 10:16:25 AM_

Since this is also going to miss the 2.2 milestone, do we know where this is going to fall on the roadmap? This is seconds from being pushed over the finish line and I'd like to update our existing custom Framework-based webhook receivers to this library.

[2018-10-17 18:51] aspnet-hello commented on #38
_From @Eilon on Tuesday, August 28, 2018 10:30:26 AM_

@danroth27 / @DamianEdwards - do we have an updated roadmap for this?

[2018-10-17 18:51] aspnet-hello commented on #38
_From @WestDiscGolf on Tuesday, August 28, 2018 10:33:14 AM_

I can't help but feel this is going to wait for the new fully opened End Point Routing middleware coming in v3. I just feel like with the clashing of the apicontroller attribute work and the hard coded routing in the webhooks it makes sense that it will use the new middleware when it arrives

[2018-10-17 18:51] aspnet-hello commented on #38
_From @usaadi on Wednesday, October 10, 2018 3:04:37 PM_

Is there an available preview for custom webhook sender on myget or elsewhere?

[2018-10-17 18:51] aspnet-hello commented on #38
_From @dougbu on Wednesday, October 10, 2018 3:13:04 PM_

@usaadi not something built in this repo. Others may certainly have forked the code and implemented sender support.

If you want sender support in general, the other option is to use Microsoft.AspNet.WebHooks.Custom and related packages. Those are available on NuGet.org. Slightly newer versions are available in the https://dotnet.myget.org/

[2018-10-17 18:52] aspnet-hello commented on #38
_From @SeanFarrow on Thursday, October 11, 2018 11:03:30 PM_

Given that this project has been moved to asplabs, where should we raise issues/questions?

[2018-10-17 18:52] aspnet-hello commented on #38
_From @WestDiscGolf on Thursday, October 11, 2018 11:05:59 PM_

Moving to asplabs is both disappointing and confusing :-(

[2018-10-17 18:52] aspnet-hello opened #39 "Specifying WebHookBodyType.Form continues to allow application/json"
_From @pranavkm on Monday, April 30, 2018 11:55:43 AM_

Not sure if this is the expected behavior, but it seemed anomalous. I started with a `GitHubWebHookAttribute` on an action and replaced it with a `GeneralWebHook`. I configured the appsettings.json and restarted the site. Sending payloads from GitHub worked. I edited the `bodyType` for the parameter to `WebHookBodyType.Form` but I continue to

[2018-10-17 18:52] aspnet-hello commented on #39
_From @dougbu on Thursday, May 3, 2018 3:54:29 PM_

Placing onto the backlog, pending customer requests in this area.

[2018-10-17 18:52] aspnet-hello opened #40 "Add more tests of ASP.NET Core receivers"
_From @dougbu on Monday, April 23, 2018 9:42:42 AM_

Follow-on work item for #180.

Remaining work includes at least:
- add functional tests involving signature verification, including unused Stripe and Trello resources
  - [ ] Dropbox
  - [ ] GitHub
  - [ ] Pusher
  - [ ] Stripe
  - [ ] Trello
- add functional tests involving request bodies for the samples still missing them
  - [ ] DynamicsCRM

[2018-10-17 18:52] aspnet-hello commented on #40
_From @Yusha813 on Monday, April 23, 2018 11:44:04 AM_

Can you add the Vend API to this list as well please?

[2018-10-17 18:52] aspnet-hello commented on #40
_From @dougbu on Monday, April 23, 2018 12:05:21 PM_

@Yusha813 you've already opened an issue about supporting the Vend API. Testing should be added as part of #289 or after that work is done. There's no action to take here in the meantime.

[2018-10-17 18:52] aspnet-hello commented on #40
_From @dougbu on Friday, May 4, 2018 4:38:10 PM_

Parking in dougbu/add.functional.tests.290.1 branch

[2018-10-17 18:52] aspnet-hello commented on #40
_From @dougbu on Thursday, May 17, 2018 3:06:00 PM_

Suggest we un-assign this issue, remove the `Mapped to Big Rock` label, and move it to the `1.0.0-preview3` milestone

[2018-10-17 18:52] aspnet-hello opened #41 "Please add support for the Vend API"
_From @Yusha813 on Monday, April 23, 2018 7:52:22 AM_

Hello, I am trying to use the WebHooks feature to receive posts from the [Vend API](https://docs.vendhq.com/docs/webhooks). Please add a NuGet package for this.

_Copied from original issue: aspnet/WebHooks#289_

[2018-10-17 18:52] aspnet-hello commented on #41
_From @dougbu on Tuesday, April 24, 2018 2:38:15 PM_

@Yusha813 we've moved this issue is in the Backlog milestone. This means that it is not going to happen for the coming release. We will review the backlog and consider this ask in the future.

[2018-10-17 18:52] aspnet-hello opened #42 "Detect more `[WebHook]` conflicts with other attributes"
_From @dougbu on Monday, March 26, 2018 9:56:47 PM_

Splitting out from #248 (see [this comment](https://github.com/aspnet/WebHooks/issues/248#issuecomment-373820480)):

Suggest doing this work post-Preview2. Basically about clarifying error messages in problematic cases.

_Copied from original issue: aspnet/WebHooks#269_

[2018-10-17 18:52] aspnet-hello commented on #42
_From @dougbu on Tuesday, April 10, 2018 12:48:30 PM_

Clearing the milestone. Need to discuss whether to address #248 or this issue during RC1.

[2018-10-17 18:52] aspnet-hello opened #43 "Add support for form URL-encoded data in GitHub requests"
_From @dougbu on Wednesday, March 14, 2018 3:49:54 PM_

Add a way for users to switch to match GitHub's default request content type.

## Background
GitHub sends form URL-encoded data by default. However ASP.NET WebHooks supported only JSON data for GitHub and JSON has been the default choice in ASP.NET Core WebHooks since the original port. Since 730adf3128, ASP.NET Core WebHooks supports only JS

[2018-10-17 18:52] aspnet-hello commented on #43
_From @WestDiscGolf on Thursday, March 15, 2018 3:19:39 PM_

Adding in another attribute for a body type seems a little strange to me. Does it not go against the rest of the webhooks api surface design?

Is the solution not to allow for the GithubWebHookAttribute to default to WebHookBodyType of Json but allow to change it in the constructor so the usages would be eg:
[code]
and
[code]

Or

Didn't

[2018-10-17 18:52] aspnet-hello commented on #43
_From @dougbu on Thursday, March 15, 2018 3:35:00 PM_

The concept of a receiver supporting multiple content types leads to some really fishy code. And, GitHub is the only sender I've seen that offers users a choice of content types. Lots of work for a unique case. That's why we removed this feature after a few iterations at it.

An `IOptions<T>` type (containing `ForceFormEncodingBody`) would fit

[2018-10-17 18:52] aspnet-hello commented on #43
_From @WestDiscGolf on Friday, March 16, 2018 10:52:54 AM_

The receiver name switch depending on the body type passed in seems reasonable to me.

Are you thinking a required parameter in the constructor so no default constructor or will json be set as default for the current implementation? I'm leaning towards the default as json at the moment personally.

[2018-10-17 18:53] aspnet-hello commented on #43
_From @dougbu on Friday, March 16, 2018 11:04:32 AM_

Yup, two constructors with JSON ("github" receiver name) being the default.

[2018-10-17 18:53] aspnet-hello commented on #43
_From @WestDiscGolf on Friday, March 16, 2018 11:45:42 AM_

Sounds good. And a "githubform" receiver?

[2018-10-17 18:53] aspnet-hello commented on #43
_From @dougbu on Friday, March 16, 2018 11:52:43 AM_

Possible names include `githubform`, `githubformencoded`, `githuburlencoded`, or any of those with `github` last e.g. `urlencodedgithub`. I don't have a strong leaning though I slightly prefer the variants with `github` last because it makes the added words seem like adjectives.

[2018-10-17 18:53] aspnet-hello commented on #43
_From @WestDiscGolf on Friday, March 16, 2018 11:58:08 AM_

If keeping github at the end is preferred then I'd lean towards "formencodedgithub", although I think I prefer the provider at the beginning of the name so from the configuration you can tell from first few characters which provider it is. So leaning toward"s "githubformencoded".

[2018-10-17 18:53] aspnet-hello opened #44 "`X-Hook-UUID` does not exist for Bitbucket Server, but is required for the webhook receiver"
_From @forrestab on Wednesday, February 14, 2018 11:07:29 AM_

### Functional impact

Because the `X-Hook-UUID` does not exist in webhook requests from Bitbucket Server, the error "A 'bitbucket' WebHook request must contain a 'X-Hook-UUID' HTTP header." is thrown and the webhook handler is never executed.

### Minimal repro steps

1. Run a local Bitbucket Server 5.7.1 (I am using docker)
2. Create

[2018-10-17 18:53] aspnet-hello commented on #44
_From @mkArtakMSFT on Friday, February 16, 2018 9:52:08 AM_

Thank you for reporting this issue. @dougbu, can you please look into this? Thanks!

[2018-10-17 18:53] aspnet-hello commented on #44
_From @dougbu on Saturday, February 17, 2018 9:34:00 PM_

@forrestab we've moved this issue is in the Backlog milestone. This means that it is not going to happen for the coming release.

Have also marked this issue as up-for-grabs. This means we will review a PR filling this gap if someone submits one.

By "this gap" I mean interoperability with Bitbucket Server, not just a new option to disable

[2018-10-17 18:53] aspnet-hello opened #45 "Consider improving the log message for incorrectly configured PusherWebHook"
_From @pranavkm on Monday, February 12, 2018 10:19:42 AM_

Configuring pusher keys is slightly involved (it has two parts) and took me a bunch of tries to figure out. The documentation is detailed, but it would have been way easier if the log spit out exactly the config key it was attempting to look up. Here's what it currently produces:

[code]

Instead, if it said

[code]

it would have made dia

[2018-10-17 18:53] aspnet-hello commented on #45
_From @mkArtakMSFT on Thursday, March 1, 2018 3:28:07 PM_

@danroth27, I think we should push this out of preview2, as it's not critical.

[2018-10-17 18:53] aspnet-hello opened #46 "WebHookSecurityFilter should use `DefaultIdConfigurationKey` in log when id is null or empty"
_From @pranavkm on Thursday, February 8, 2018 4:18:40 PM_

https://github.com/aspnet/WebHooks/blob/a05a07c420e6316963f41d7bad3fc38e6b74464c/src/Microsoft.AspNetCore.WebHooks.Receivers/Filters/WebHookSecurityFilter.cs#L288-L292

This prints `Could not find a valid configuration for the 'github' WebHook receiver, instance ''` when the key is invalid.

_Copied from original issue: aspnet/WebHooks#244

[2018-10-17 18:53] aspnet-hello commented on #46
_From @pranavkm on Thursday, February 8, 2018 4:20:00 PM_

Also https://github.com/aspnet/WebHooks/blob/a05a07c420e6316963f41d7bad3fc38e6b74464c/src/Microsoft.AspNetCore.WebHooks.Receivers/Filters/WebHookSecurityFilter.cs#L219-L220

[2018-10-17 18:53] aspnet-hello commented on #46
_From @pranavkm on Thursday, February 8, 2018 4:20:47 PM_

Typo: https://github.com/aspnet/WebHooks/blob/a05a07c420e6316963f41d7bad3fc38e6b74464c/src/Microsoft.AspNetCore.WebHooks.Receivers/Filters/WebHookSecurityFilter.cs#L215

[2018-10-17 18:53] aspnet-hello commented on #46
_From @Marusyk on Sunday, February 11, 2018 8:12:08 AM_

Hello, do you mean that when the key is invalid should it return other message? I would be glad to fix that if you clarify requirements. Thx

[2018-10-17 18:53] aspnet-hello commented on #46
_From @pranavkm on Monday, February 12, 2018 10:13:32 AM_

@Marusyk no, the intent was to use the term "default id" or something along those lines when the key is the default value. Right now it prints empty quotes, which isn't what the user configures in the log.
Consider

[code]

The log message you see in this case is `Could not find a valid configuration for the 'github' WebHook receiver, inst

[2018-10-17 18:53] aspnet-hello commented on #46
_From @dougbu on Tuesday, April 10, 2018 12:53:38 PM_

Self-assigning this and two other bugs because we want them done in RC1.

@mkArtakMSFT please add `cost: XS` label in this repo. This issue and #247 fit in that bucket. Perhaps #245 too.

[2018-10-17 18:53] aspnet-hello opened #47 "Support Azure Activity Log alerts"
_From @dougbu on Wednesday, December 13, 2017 4:51:49 PM_

The current Azure Alert receivers (ASP.NET and ASP.NET Core) support Azure Metric alerts and (modulo #146) Availability / Web Test alerts. However Activity Log alerts use a completely different JSON schema, one that does not contain the required `context:name` field.

To support Activity Log alerts, update how the Azure Alert receivers fin

[2018-10-17 18:53] aspnet-hello commented on #47
_From @dougbu on Thursday, December 14, 2017 3:48:29 PM_

https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-activity-log-schema contains more details about the various Activity Log alerts.

[2018-10-17 18:53] aspnet-hello commented on #47
_From @aspnet-hello on Monday, March 12, 2018 11:42:07 PM_

This issue was copied to aspnet/AspNetWebHooks#22

[2018-10-17 18:54] aspnet-hello opened #48 "Flesh out ASP.NET Core sender packages"
_From @dougbu on Friday, November 10, 2017 4:13:03 PM_

Follow-on work item for #5.

Hopefully less needs to change than on the receiver side i.e. the work may mainly be about building for .NET Standard and determining the minimum .NET Standard version required. See #47 as well.

_Copied from original issue: aspnet/WebHooks#183_

[2018-10-17 18:54] aspnet-hello commented on #48
_From @davesmits on Tuesday, January 9, 2018 2:36:20 PM_

is there a eta for this? and are you taking PR's? i been working for this last few days; although i dont think its in a production state; been making much progress already for it

[2018-10-17 18:54] aspnet-hello commented on #48
_From @Moily on Thursday, January 11, 2018 6:08:10 AM_

Getting a Microsoft.AspNetCore.WebHooks.Custom as an initial offering would be a great start. Are you close to having that ready, @davesmits? I can get to it in a few weeks, if not.

[2018-10-17 18:54] aspnet-hello commented on #48
_From @davesmits on Thursday, January 11, 2018 6:14:29 AM_

working in here: https://github.com/davesmits/WebHooks ; maybe have a look and give some feedback which parts are useful so i will isolate these in a PR

Right now moving ILogger to the .net core default; currently have the whole setup working including a custom receiver. Had make some changes in the receiver packages for that as mentione

[2018-10-17 18:54] aspnet-hello commented on #48
_From @Havret on Sunday, February 4, 2018 6:08:47 AM_

I have ported old ASP.NET Custom Sender to ASP.NET Core. It's fully interoperable with old receiver package. If you consider accepting PR please let me know. For now I am keeping this in private repo.

[2018-10-17 18:54] aspnet-hello commented on #48
_From @Havret on Friday, May 25, 2018 1:14:07 PM_

As I said here #301 I am working on sender package on my fork https://github.com/Havret/WebHooks

I have ported sender package from original WebHooks project to ASP.NET Core and made some changes in the notification model. We were using the 1:1 port for a while at work, but it turned out that the format of WebHook massages was hard to consume by o

[2018-10-17 18:54] aspnet-hello opened #49 "Flesh out remaining ASP.NET Core receivers"
_From @dougbu on Friday, November 10, 2017 4:08:57 PM_

Follow-on work item for #5. Suspect the patterns established in the first 10 ASP.NET Core receivers will make this fairly smooth.

_Copied from original issue: aspnet/WebHooks#182_

[2018-10-17 18:54] aspnet-hello commented on #49
_From @dougbu on Friday, November 10, 2017 4:16:51 PM_

See also #181 and #183.

[2018-10-17 18:54] aspnet-hello opened #50 "Adding a Chargebee receiver"
_From @fabiodaniele on Sunday, July 23, 2017 2:11:43 PM_

Hi all,
I'd like to contribute to this project by adding a receiver for Chargebee webhooks.

Can I do it? :)

_Copied from original issue: aspnet/WebHooks#147_

[2018-10-17 18:54] aspnet-hello commented on #50
_From @garora on Friday, July 28, 2017 2:17:08 PM_

@fabiodaniele - You can create a `PR` as this is an open source you can contribute rest the final decision would be of @HenrikFrystykNielsen

[2018-10-17 18:54] aspnet-hello commented on #50
_From @fabiodaniele on Saturday, July 29, 2017 5:17:44 AM_

@garora  - Ok, thanks.

[2018-10-17 18:54] aspnet-hello commented on #50
_From @aspnet-hello on Monday, March 12, 2018 11:41:55 PM_

This issue was copied to aspnet/AspNetWebHooks#21

[2018-10-17 18:54] aspnet-hello opened #51 "[WebHooks.Receivers.VSTS] WorkItemUpdatedFields is limited to a few predefined system fields"
_From @NenoLoje on Sunday, June 11, 2017 2:22:10 PM_

This issue is for: **Microsoft.AspNet.WebHooks.Receivers.VSTS**

The [`WorkItemUpdatedFields`](https://github.com/aspnet/WebHooks/blob/master/src/Microsoft.AspNet.WebHooks.Receivers.VSTS/Payloads/WorkItemUpdatedFields.cs) class has **9** fields defined.

VSTS offers many more fields (system and custom ones) that could be part of this event as w

[2018-10-17 18:54] aspnet-hello commented on #51
_From @dougbu on Tuesday, November 28, 2017 3:19:54 PM_

Suggest binding to a `JObject` and using the `WebHookReceiverContext` to get that type.

[2018-10-17 18:54] aspnet-hello commented on #51
_From @danroth27 on Tuesday, December 12, 2017 3:01:14 PM_

We should look at improving this experience for ASP.NET Core as part of #182

[2018-10-17 18:54] aspnet-hello commented on #51
_From @dougbu on Tuesday, January 16, 2018 3:11:50 PM_

Pending work on #182, marking this up-for-grabs and putting it into the Backlog. If someone has VSTS fields e.g. @NenoLoje's `System.IterationPath` they would like to add, send a PR.

[2018-10-17 18:54] aspnet-hello commented on #51
_From @aspnet-hello on Monday, March 12, 2018 11:41:41 PM_

This issue was copied to aspnet/AspNetWebHooks#20

[2018-10-17 18:54] aspnet-hello opened #52 "can we have one for Sendgrid"
_From @pooran on Saturday, September 17, 2016 5:13:36 AM_

_Copied from original issue: aspnet/WebHooks#84_

[2018-10-17 18:54] aspnet-hello commented on #52
_From @garora on Thursday, September 22, 2016 6:48:43 AM_

@pooran - Have you tried [CustomeReceiver](https://github.com/aspnet/WebHooks/tree/master/samples/CustomReceiver) sample for this.
Documentation for SendGrid WebHooks is avaialble here: [Hooks](https://sendgrid.com/docs/API_Reference/Webhooks/index.html)

[2018-10-17 18:54] aspnet-hello commented on #52
_From @SimonLuckenuik on Thursday, April 20, 2017 5:10:29 AM_

I have been using this library for the data contract: https://github.com/mirajavora/sendgrid-webhooks

[2018-10-17 18:54] aspnet-hello commented on #52
_From @aspnet-hello on Monday, March 12, 2018 11:41:25 PM_

This issue was copied to aspnet/AspNetWebHooks#19

[2018-10-17 18:55] aspnet-hello opened #53 "Anyone managed to do this with Gmail?"
_From @georgiosd on Friday, July 29, 2016 1:43:10 AM_

Documentation to set up gmail webhooks is terrible.

Anyone managed to do this and can give some guidance?

_Copied from original issue: aspnet/WebHooks#77_

[2018-10-17 18:55] aspnet-hello commented on #53
_From @HenrikFrystykNielsen on Friday, July 29, 2016 1:16:35 PM_

It's been a while since I looked at gmail webhooks. Do you have a pointer?

[2018-10-17 18:55] aspnet-hello commented on #53
_From @georgiosd on Monday, August 1, 2016 9:08:12 AM_

I have made some progress but still not 100% on the workflow. https://developers.google.com/gmail/api/guides/push

[2018-10-17 18:55] aspnet-hello commented on #53
_From @aspnet-hello on Monday, March 12, 2018 11:41:11 PM_

This issue was copied to aspnet/AspNetWebHooks#18

[2018-10-17 18:55] aspnet-hello opened #54 "WebHooks for Office 365"
_From @rposener on Monday, April 4, 2016 7:37:55 PM_

Saw some of this at build, would be nice if we had a package that would work with the Office 365 WebHooks.  Once the asp.net core port gets a bit further, I will be glad to work on it and submit a pull (for the .net core), but need to figure out an asp.net core port first.

_Copied from original issue: aspnet/WebHooks#51_

[2018-10-17 18:55] aspnet-hello commented on #54
_From @aspnet-hello on Monday, March 12, 2018 11:40:57 PM_

This issue was copied to aspnet/AspNetWebHooks#17

[2018-10-17 18:55] aspnet-hello opened #55 "Webhooks support for AWS SNS messages"
_From @mteper on Tuesday, November 17, 2015 11:51:10 AM_

See http://blogs.aws.amazon.com/php/post/Tx2G9D94IE6KPAY/Receiving-Amazon-SNS-Messages-in-PHP for example of how to handle (example describes PHP but should be pretty straight-forward).

_Copied from original issue: aspnet/WebHooks#28_

[2018-10-17 18:55] aspnet-hello commented on #55
_From @aspnet-hello on Monday, March 12, 2018 11:40:46 PM_

This issue was copied to aspnet/AspNetWebHooks#16

[2018-10-17 18:55] aspnet-hello opened #56 "OneDrive on the roadmap?"
_From @SQL-MisterMagoo on Tuesday, October 13, 2015 2:54:28 AM_

Hi, Just wondering if anyone is planning on implementing OneDrive webhooks into this project?
Thanks

_Copied from original issue: aspnet/WebHooks#15_

[2018-10-17 18:55] aspnet-hello commented on #56
_From @garora on Saturday, October 17, 2015 12:21:59 PM_

Earlier, I supposed to give a try with reference to [onedrive](https://dev.onedrive.com/misc/appfolder.htm). But, due to other priorities, I wouldn't able to start. I can give a try but not sure when. @HenrikFrystykNielsen - do you have any plans? I would love to take this initiative. Unfortunately, currently I have other priorities.

[2018-10-17 18:55] aspnet-hello commented on #56
_From @HenrikFrystykNielsen on Tuesday, October 27, 2015 7:47:18 AM_

Does OneDrive support WebHooks?

[2018-10-17 18:55] aspnet-hello commented on #56
_From @garora on Tuesday, October 27, 2015 7:55:35 AM_

After visiting documentation of OneDrive, did not find relevant information.

[2018-10-17 18:55] aspnet-hello commented on #56
_From @SQL-MisterMagoo on Tuesday, October 27, 2015 8:45:20 AM_

It's in preview still, but the details are available here : [Service-to-service notifications (preview)](https://dev.onedrive.com/misc/webhooks.htm)

I was just wondering if it would be on the roadmap, as I would like to try it out, and this seems like the right tool for the job.

If it's not on the roadmap, that's all I need to know

[2018-10-17 18:55] aspnet-hello commented on #56
_From @HenrikFrystykNielsen on Saturday, October 31, 2015 8:34:32 AM_

We'd definitely be happy to have support for it! if you'd like to help submitting a PR then it will likely go faster ;)

[2018-10-17 18:55] aspnet-hello commented on #56
_From @garora on Friday, June 3, 2016 2:15:00 AM_

Documentation is moved here [WebHooks](https://dev.onedrive.com/webhooks/webhooks.htm).
@SQL-MisterMagoo , @HenrikFrystykNielsen  - is anyone working on this?

[2018-10-17 18:55] aspnet-hello commented on #56
_From @HenrikFrystykNielsen on Saturday, June 4, 2016 12:46:45 PM_

Not at the moment...

[2018-10-17 18:55] aspnet-hello commented on #56
_From @garora on Saturday, June 4, 2016 11:14:01 PM_

I'd try it after completing one, I am working on.

[2018-10-17 18:55] aspnet-hello commented on #56
_From @garora on Monday, August 1, 2016 3:42:12 PM_

I'm going to pick this one!

[2018-10-17 18:55] aspnet-hello commented on #56
_From @HenrikFrystykNielsen on Tuesday, August 2, 2016 2:00:38 PM_

awesome!

[2018-10-17 18:55] aspnet-hello commented on #56
_From @garora on Monday, January 16, 2017 1:42:07 AM_

Putting it on hold due to [Issue#92](https://github.com/aspnet/WebHooks/issues/92)

[2018-10-17 18:55] aspnet-hello commented on #56
_From @garora on Monday, August 21, 2017 4:44:22 AM_

Still waiting for a solution for #92

[2018-10-17 18:55] aspnet-hello commented on #56
_From @aspnet-hello on Monday, March 12, 2018 11:38:46 PM_

This issue was copied to aspnet/AspNetWebHooks#15

[2018-10-30 11:30] tomchavakis opened #69 "dotnet-httprepl swagger stackoverflowexception"
While I am setting the httprepl swagger using the command :
`set swagger http://example.com/api/v2/swagger.json`
I get the response :

Process is terminating due to StackOverflowException.

The  swagger.json file size is 262 KB.

[2018-11-01 22:30] dougbu commented on #36
ASP.NET Core WebHooks uses `IConfiguration` to retrieve properties such as secret keys. Any input source configured for `IConfiguration` works, not just `appsettings.json` files e.g. command-line options and environment variables. What is missing exactly?

[2018-11-03 23:48] Cloudmersive opened #61 "Release Proxy to GA"
Why is Proxy not getting released?

[2018-11-06 17:09] anurse opened #62 "Consider delegating dump creation to `procdump`"
[`procdump` now supports linux](https://github.com/Microsoft/ProcDump-for-Linux)! We could consider either a) delegating dump creation in `dotnet dump` to `procdump` or b) just dropping `dotnet dump` entirely if we think `procdump` provides a sufficient experience.

[2018-11-06 22:03] Eilon commented on #61
Hi @Cloudmersive , the simple answer is that it has not been a high enough priority for the team in comparison to the other features and fixes that we plan to do.

[2018-11-07 02:42] anurse opened #63 "Use a matching-architecture process to capture the dump on Windows"
Via @noafalk: You can get some unfortunate results if you use a 32 bit process to capture a dump of a 64 bit process and vice versa

We don't do anything to protect against this, so if `dotnet dump` moves forward, we should look at spinning off a helper process that matches the bitness.

[2018-11-07 04:07] cbfrank opened #64 "ProxyMiddleware Overwrite Exiting Response Headers"
Hi
In the code ProxyAdvancedExtensions.cs, method `"CopyProxyHttpResponse"` use the code below to copy the proxy web headers:
`response.Headers[header.Key] = header.Value.ToArray()`
if any middleware executed beofre the proxy middleware append headers to response with the same name of the header from proxy web, then the existing headers will be overwrite.
Maybe the code shoulde check if a header w

[2018-11-10 00:28] bradygaster opened #67 "dotnet-httprepl - Lock icon shows up when backspace or arrows are pressed on MacOS"
When users use the backspace keystroke when in the tool to backspace over previously-written content, the icon changes to the "lock" icon, which to a MacOS user is usually a cue that they need to enter their password. The gif below shows the issue in practice.

![mac-typing-issue mp4](https://user-images.githubusercontent.com/41929050/48294883-35685200-e43c-11e8-9113-43cfdfca3098.gif)

This is a d

[2018-11-13 17:47] Eilon commented on #65
Thanks @beefo , I'll bulk move all the rest of the Proxy issues later. Unfortunately there's no REST API for moving issues so it's a bit of a hassle.

[2018-11-20 01:30] jdmallen opened #68 "dotnet-httprepl prints usage very slowly, repeats characters in Linux"
# Environment

`dotnet --info` Output:

[code]
**Note:** `dotnet` points to preview version on my machine.

# Slow terminal printing

1. I installed latest dotnet-httprepl with this command:
`dotnet tool install -g dotnet-httprepl --version 2.2.0-preview3-35246 --add-source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json`

2. I created and ran a default webapi project: `dotnet new webapi

[2018-11-20 01:33] mlorbetske opened #71 "[Test Coverage] Improve test coverage on the HTTP REPL"
For follow-up: test coverage on the HTTP REPL code is very low, it should be improved

[2018-11-20 01:41] vijayrkn commented on #70
+@mlorbetske

[2018-11-20 01:48] glennc opened #72 "[REPL] Cleanup items"
Here are the items I noted as we went through the review:

- [x] Content-Type. Maybe Configurable default or infer
- [ ] Print headers command (or show them somewhere)
- [x] Ensure set header supports : as well as =
- [x]  Currently hangs when try to use http for app using redirects to https
- [x]  Check base url when setting so that you don't feel dumb
- [x]  Things that return a straight up stri

[2018-11-27 22:56] dougbu commented on #36
Thank you for your feedback. We're closing this issue as no updates have been provided in a timely manner and we have been unable to reproduce the issue. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-11-27 22:56] #36 closed

[2018-12-04 13:15] waynevdm opened #78 "Multipart/form-data request body read of bytes not always working"
Hi

I am using your proxy implementation on a project we are doing and it is really working well. I am just having a problem with a multipart/form-data POST. The error started happening when we started testing with an image of 52kb. What happens is that I have written a method to read all the bytes from the body of the request

        public static async Task<byte[]> GetRawBodyBytesAsync(HttpRequ

[2018-12-06 06:08] twitchax commented on #76
If there is interest, I built some proxy-helper attributes around the old package code a while back.

https://github.com/twitchax/AspNetCore.Proxy

Should I refactor and submit a PR back into this?  Will this be shipping a new release soon?

[2018-12-07 07:05] waynevdm commented on #78
If anyone has the same problem this was a code issue. When the files are really large or there is network latency you can read the stream before it is completely written to. You should rather read the stream as follows.

        private byte[] ReadFully (Stream stream)
        {
            byte[] buffer = new byte[32768];
            using (MemoryStream ms = new MemoryStream())
            {

[2018-12-11 00:20] metoly opened #81 "[dotnet-httprepl] matching command not found when calling httprepl after the package was installed"

[2018-12-11 17:56] mlorbetske commented on #81
Hi @metoly, could you post the command you used please?

[2018-12-13 05:41] #67 closed

[2018-12-13 05:42] #69 closed

[2018-12-13 05:42] #70 closed

[2018-12-17 07:58] denmitchell commented on #86
Is a NuGet package for Proxy available via the Arcade feed or MyGet?  If so, what is the package?

[2019-01-03 07:32] dgrizwan opened #132 "Addition of new Storage for the WebHooks"
Hi WebHooks,
I am a young professional and recently learned WebHooks and implemented them in some of our projects.
As we use different database storage other than SQL Server so I have built the complete library to handle that storage. That is MongoDB storage. Now I want to help others as well and make that storage a part of this repository for the ASP.NET. How should I proceed? Do I need to get so

[2019-01-03 10:36] damianh commented on #61
Hi, I took the initiative and released my own package forked from here and heavily modified:  https://github.com/damianh/ProxyKit

@Eilon Hope this is ok, reach out if any concerns. Thx.

[2019-01-03 17:09] Eilon commented on #61
@damianh that sounds great, thanks for letting us know! If you'd like, feel free to send a PR to update https://github.com/aspnet/AspLabs/tree/master/src/Proxy with a note at the bottom for "Related projects" that points to your fork. I'd imagine people would find that useful.

[2019-01-03 18:02] damianh commented on #61
Thanks for the encouraging response; will do that. Cheers!

[2019-01-07 07:51] dgrizwan commented on #132
Hello, Is there any update on this, please?

[2019-01-15 06:43] nitro52 opened #143 "Webhooks Remove dependency on User for Core Interfaces"
We are currently implementing Webhooks and noticed that many of the core Interfaces depend on a UserId string, for example IWebHookStore. This ties the implementation to a per user registration which is not always suitable. For example our setup requires registrations to be globally for all users because we have an instance per client that contains multiple users. The WebHooks relate to the client

[2019-01-24 23:39] dougbu commented on #132
Thank-you for your interest in contributing to this project. We are not actively expanding this project at this time. Hence, the addition of another storage provider to the core product is not something we're interested in.

However, it sounds like a great idea community project on its own.

[2019-01-24 23:39] #132 closed

[2019-01-24 23:43] dougbu commented on #143
Thank-you for your interest in this project. We are not actively expanding this project at this time. And, this suggestion would be a significant breaking change.

[2019-01-24 23:43] #143 closed

[2019-01-29 03:14] nitro52 commented on #143
Would this be a breaking change? the parameter type for the UserId is already a string. For the most part it seems like a simple rename of parameters/documentation.

[2019-02-05 09:24] cbmek opened #158 "Windows Authentication behind proxy"
Hi, I try to use Proxy to direct traffic to service witch uses Windows Authentication (Negotiate/NTLM on IIS).
Direct traffic to my service works ok and users are autenticated, but when I direct traffic through Proxy (installed on other server) I doesn't work. I've tried to switch the servers, to make sure they are both configured the same way. I got **Anonymous and Windows Authentication** on my

[2019-02-07 20:53] stephentoub commented on #68
@bradygaster, @mlorbetske, @karelz, @wtgodbe, since our meeting ended early, I used the refund to take a quick look at the "Slow terminal printing" issue.

For me it's taking 6 seconds to output the result of "help", due to it making ~260 calls to get the current cursor position (which is the vast majority of the time), just to output the ~40 lines of help output (which, coincidentally or not, has

[2019-03-08 04:05] danroth27 opened #177 "Update ComponentsElectron for 3.0.0 Preview 3"
@SteveSandersonMS @mkArtakMSFT

[code]

[2019-03-18 20:53] cpboyd commented on #78
With a 200MB file, I'm effectively reaching a stall of the POST.

I've also noticed that the CLI reports multiple instances of the POST occurring (right after one another, which is probably contributing to these issues).  The browser, on the other hand, only reports a single POST, so it's probably retrying the same request because it wasn't acknowledged.

Smaller files don't exhibit this behavior.

[2019-03-19 07:04] waynevdm commented on #78
We were testing with 10 to 20mb files. I don't think HTTP is the best protocol to use to download really large files. We read the data out before calling CreateProxyHttpRequest.

[2019-03-19 14:24] cpboyd commented on #78
@waynevdm HTTP may not be optimal, but I was trying to integrate with [SWUpdate](https://sbabic.github.io/swupdate/swupdate.html) which provides its own internal Mongoose webserver that processes the update as it's uploaded.

Smaller files work fine and I'd rather not read it all into a temporary file (as SWUpdate creates its own temporary file too).

[2019-03-19 18:46] cpboyd commented on #78
It turns out that my specific issue is actually related to the fact that ASP.NET Core enforces a 30MB file limit by default:
https://www.talkingdotnet.com/how-to-increase-file-upload-size-asp-net-core/

[2019-03-19 21:36] mkArtakMSFT commented on #177
Closing this as @SteveSandersonMS has done this already.

[2019-03-19 21:36] #177 closed

[2019-03-19 21:42] mkArtakMSFT commented on #37
Work on ASP.NET Core Web Hooks is not a priority for us at this time. There are no planned updates or releases.

[2019-03-19 21:42] #37 closed

[2019-04-10 23:16] natemcmaster commented on #31
This was done at some point.

[2019-04-10 23:16] #31 closed

[2019-04-26 21:03] LightVolk opened #185 "Why i can not create my own WebHook?"
### Describe the bug

I try to create my own WebHook class:

[code]
### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2'

### Screenshots
![image](https://user-images.githubusercontent.com/1236916/56836327-93b8ae00-687f-11e9-95a4-83675c1f7167.png)

### Additional context
I try to find some documentation about creating my own WebHook, but i can not.
Found [t

[2019-04-26 21:51] Eilon commented on #185
Can you show what error you are getting? The `WebSubMetadata` type looks like a custom type written by the author of the blog post.

[2019-04-26 22:11] LightVolk commented on #185
@Eilon , may be! I try to find some tutorial to make my own webhook, but found just this article.

So, i try to add

`using Microsoft.AspNetCore.WebHooks.Metadata;`

And i have error:Type "WebHooks" does not exists in this namespace.

[2019-04-28 01:11] Varorbc opened #186 "Is it possible to add the WebHook of Azure DevOps Server?"
Is it possible to add the WebHook of Azure DevOps Server?

[2019-04-29 05:03] Eilon commented on #185
@LightVolk can you post your project to GitHub so we can take a look? There could be a missing reference or some other error, but we'll need more info to investigate. Thansk!

[2019-04-30 16:34] Eilon commented on #186
Hi @Varorbc , can you provide more details on what you mean by "increase"? Increase what?

[2019-05-01 00:08] Varorbc commented on #186
@Eilon sorry, it's an awkward translation.https://github.com/aspnet/AspNetWebHooks/tree/master/src/Microsoft.AspNet.WebHooks.Receivers.VSTS

[2019-05-02 17:43] Eilon commented on #186
Hi, you can try using the VSTS hooks but I'm not sure if they're compatible. Otherwise, we don't have plans right now to add any additional support, but you can try adding custom support by using the existing source code as an example.

[2019-05-03 23:34] stil opened #187 "ComponentsElectron needs update to latest ASP.NET Core 3.0 preview"
After upgrading .NET Core SDK from preview 3 to preview 4, I can no longer build the project.

`dotnet build` output

[code]

[2019-05-06 17:00] Eilon commented on #187
Tagging @SteveSandersonMS / @danroth27

[2019-05-07 15:15] SteveSandersonMS commented on #187
Fixed in #188

[2019-05-09 18:50] Difference commented on #187
![image](https://user-images.githubusercontent.com/142553/57478664-d032d380-729b-11e9-9777-9e7a9fcaa878.png)
I still get this with latest VS Preview 16.1.0, Preview3 and dotnet core 3 Preview5

[2019-05-09 19:20] stil commented on #187
I can confirm, the issue still occurs on preview 5

[2019-05-10 00:08] danroth27 commented on #187
The sample wasn't updated yet and to properly update the sample we need to publish the Microsoft.AspNetCore.Components.Electron package to one of the dev feeds.

[2019-05-10 00:10] danroth27 commented on #187
@mkArtakMSFT

[2019-05-10 04:44] dougbu commented on #187
@aspnet/build the ask here is to push just one package to a publicly-accessible feed and a blob feed would be fine. We don't need to execute the existing aspnet-AspLabs release pipeline or otherwise push to aspnetcore-dev on MyGet in particular.

[2019-05-10 18:54] danroth27 commented on #187
@dougbu It's probably sufficient if we just manually publish the required package to the blazor-dev feed (once we get a build).

[2019-05-24 08:29] Misiu commented on #38
Any updates on WebHooks? Will it be added to .NET Core 3.0? All packages are in preview.
Can someone share plans regarding webhooks?

[2019-05-25 00:58] danroth27 commented on #38
@Misiu WebHooks is not shipping with .NET Core, and there is no roadmap to ship WebHooks at this time.

[2019-05-27 09:53] Misiu commented on #38
@danroth27 sad to read that.
I must search for an alternative then.

Is there a place we can vote for features like WebHooks to be added to the roadmap?

[2019-05-28 23:47] danroth27 commented on #38
@Misiu You can always submit feedback on ASP.NET Core by opening issues on the https://github.com/aspnet/aspnetcore repo. However, at this point we consider support for WebHooks to be out of scope. We are considering working with the community to find a new owner for this project for folks that want to see it carried forward.

[2019-07-16 00:45] dougbu commented on #187
@danroth27 @pranavkm @SteveSandersonMS what work remains here and who is on point to do that work? That is, who should be manually updating https://dotnet.myget.org/feed/blazor-dev/package/nuget/Microsoft.AspNetCore.Components.Electron (which is still 5 months out of date)? (I don't have the tokens needed to do anything here.)

/cc @mkArtakMSFT

[2019-07-16 09:46] SteveSandersonMS commented on #187
@dougbu The remaining work is updating https://github.com/aspnet/AspLabs/pull/192, though presumably it's best to wait until preview 7 ships now rather than being out of date straight away. Then we can push the updated package, which I and @danroth27 both have permissions to do.

[2019-07-30 22:15] BasHamer opened #206 "Looking for advice on referencing the Proxy project & license"
I grabbed the proxy code a few years back and build an on-demand short-lived proxy service on it.

I'm getting to the point where I need to start versioning it, and I want to make sure my license, reference  etc. is set up right; I'd also like to know if there is a preferred way to reference this code (I copied it into my own repo, works for me, not sure if it is the preferred way)

Do I need to a

[2019-07-31 21:52] JunTaoLuo commented on #187
@SteveSandersonMS now that preview 7 is out can this be closed?

[2019-08-02 10:15] SteveSandersonMS commented on #187
I'll update the issue title.

[2019-08-17 23:29] jozefizso opened #212 "Handler for GitHub ping webhook is ignored"
When I defined our own handler for the **ping** webhook from GitHub, it does not get executed.

This information is logged: **Received a Ping Event for the 'github' WebHook receiver -- ignoring.**

[code]

Expected behavior:

WebHooks should execute our own ping handler, which is defined as this:

[code]

[2019-08-29 13:25] sanjaycedti opened #215 "Proxy configured with asp.net core 2.2 with full framework 4.6.1 returns "Your POST request is not being received quickly enough. Please retry""
In order to call some APIs which do not support cors, we configured a proxy (using [AspLabs Proxy](https://github.com/aspnet/AspLabs/tree/master/src/Proxy)) in an existing asp.net  core 2.2 with framework 4.6.1. Calling those APIs through this proxy results in `408` with message `Your POST request is not being received quickly enough. Please retry.`. But it perfectly works fine with the proxy conf

[2019-08-30 10:07] sanjaycedti commented on #215
Turned out it is not related to the proxy, a simple `HttpClient` also has the same issue with .net core 2.x with framework 4.6.1. Here is the code snippet I tried -

[code]

[2019-09-10 12:16] sanjaycedti commented on #215
Any update on this as I'm still struggling for the solution.

[2019-09-11 18:12] kevinlo opened #219 "Is WebHook in .Net Core 3.0?"
Sorry to ask the question here as I can't find much information online.

I only see this [announcement](https://github.com/aspnet/Announcements/issues/299) saying it is moved out of 2.1.    But I cannot find any information if it will be in 3.0.  If not, is there any plan to release it?

Also, can the current Webhook code be used with .Net Core 2.1?    From the [nuget](https://www.nuget.org/packag

[2019-09-13 12:11] FrkatSmrkat opened #220 "open in VS 2019"
when i try to open the .sln in VS 2019 none of the projects loads.
can you pls add some startvs.cmd as there is in https://github.com/aspnet/Extensions
or whatever is needed so anyone can open the .sln without finding out why it isnt so simple?
Thanks regards

[2019-09-17 20:27] ahmeddawood88 opened #222 "services.AddProtectedBrowserStorage(); return error."
when i inserted this line of code

services.AddProtectedBrowserStorage();

into Startup.cs file of my Blazor app, I got this error:
iservicecollection does not contain a definition for addprotectedbrowserstorage.

I followed exactly what MS document instructed to work on Session management of Blazor App:
https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-3.0

Any

[2019-09-19 21:44] kevinlo commented on #219
Never mind.  It seems it has no plan to continue yet.

[2019-09-19 21:44] #219 closed

[2019-09-23 13:13] GoranHalvarsson opened #226 "Error running a published "electron project" exe file outside project folder(using ComponentsElectron)"
I have successfully got a blazor-electron project running (using ComponentsElectron).
https://github.com/GoranHalvarsson/SitecoreBlazor/tree/master/SitecoreBlazorHosted.Electron

It all works well when running it from VisualStudio. It also works well when publishing it to the bin folder(within the project) and running the .exe file.

But if publishing outside the project folder it will not work. I

[2019-09-25 15:57] julienGrd commented on #187
Hello guys, now the .net core 3 is release, it can be good to update the packages ? With the sample im still in preview3, and surprisely i can't update the package by myself.

thanks !

[2019-09-29 05:59] #186 closed

[2019-10-11 10:23] kant2002 commented on #187
@SteveSandersonMS if you can publish latest `Microsoft.AspNetCore.Components.Electron` to aspnetcore-dev feed, or whenether you find appropriate. Currently SampleApps does not working with RTM bits, but TestApp works fine, which means, they should be dragged along to the test project, which is contrary to README.md.

Given that this repo highlighted in
https://devblogs.microsoft.com/aspnet/blazor-

[2019-10-16 17:36] snow-jallen commented on #187
Maybe the title of this could even be "CompenentsElectron needs update to final RTM ASP.NET Core 3.0".  I spun my wheels for too long this morning wondering why the sample wouldn't compile before I found this issue.  :(

[2019-10-24 03:48] MarkBQE opened #231 "SalesForce WebHook Issue with ASP.Net Core 3"
I get the following error  when posting to a salesforce webhook receiver in ASPNET Core 3. Salesforce webhook  works flawlessly with Asp.net core 2. I am using the following link for reference

https://devblogs.microsoft.com/aspnet/integrating-with-salesforce-using-asp-net-webhooks-preview/

System.NotSupportedException: Specified method is not supported.
   at Microsoft.AspNetCore.Server.IIS.Core

[2019-11-08 17:05] maxxintegration opened #234 "IE 11 bug - Arrow Function not supported!"
IE 11 does not support "Arrow Function" therefore the following code block in "_content/Microsoft.AspNetCore.ProtectedBrowserStorage/protectedBrowserStorage.js" file will not work.

<script src="_content/Microsoft.AspNetCore.ProtectedBrowserStorage/protectedBrowserStorage.js"></script>

(function () {
    // We may be able to eliminate this .js file entirely as of preview 8,
    // because it will

[2019-11-13 12:34] kblood commented on #222
I am having the same problem. I noticed this at the top of the page:
"Blazor Server is supported in ASP.NET Core 3.0. Blazor WebAssembly is in preview for ASP.NET Core 3.1."

Maybe this feature is only supported by .Net Core 3.1?

[2019-11-15 19:48] mguinness commented on #231
The underlying code looks like it's trying to rewind the stream to the beginning.  Not sure why this behavior would be different in ASPNET Core 3.

https://github.com/aspnet/AspLabs/blob/35541c8e34559103f73ddbb44b4fa323b65885e3/src/WebHooks/src/Microsoft.AspNetCore.WebHooks.Receivers/WebHookRequestReader.cs#L106-L114

[2019-11-15 20:05] mguinness commented on #55
This would be a useful receiver to add.  As Amazon SNS sends different types of messages including SubscriptionConfirmation, Notification, and UnsubscribeConfirmation, then it would have to handle verification requests.

Based on the article [Under the hood of ASP.NET Core WebHooks - Verification Requests](https://www.tpeczek.com/2018/06/under-hood-of-aspnet-core-webhooks_21.html), the [Dropbox we

[2019-11-15 20:16] mguinness commented on #38
@danroth27 Any chance the decision to not to ship WebHooks could be reconsidered?  I just created a package for [Webhook support for Box](https://github.com/mguinness/BoxWebHook) and it works well.

What's the developer story using ASP.NET Core 3.0 and webhooks?  Seems like a common use case that isn't getting much attention from Microsoft or the community.

[2019-11-16 23:48] mguinness commented on #55
Amazon SNS receiver is now available at https://github.com/mguinness/SnsWebHook.

[2019-11-18 14:03] Lechus opened #237 "webhooks - allow for PUT method?"
I got one webhook provider client and they do PUT instead of POST.
Is the allow POST only webhook standard or not?
Could WebHookVerifyMethodFilter be extender to allow other  PUT method? like in
[code]

?

[2019-11-29 15:26] johanskoldekrans opened #241 "ProtectedBrowserStorage issue with key from DataProtection"
Everytime I release a new pipeline we get this error.

I have specified a path in Startup for DataProtection to make sure the keys are intact but I still get this error. Ideas?

`System.Security.Cryptography.CryptographicException: The key {5cf41a4f-53bb-49af-9577-211e26dd54ad} was not found in the key ring.
   at Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBasedDataProtector.Unprotec

[2019-11-29 15:28] johanskoldekrans commented on #241
It works if I start the site in an InPrivate window. But if I release again that window breaks and Ctrl+F5 doesn't work.

[2020-01-17 01:06] DataJuggler opened #246 "DeleteAsync doesn't appear to work"
I am implementing my own sign in / sign out and it works great where I store a password hash locally to save the user typing in a user name password every time.

I call a method to remove the local storage items if they chose not to remember password.

After this call successfully runs (no errors are thrown and the code exits this method).

                try
                {

[2020-01-31 13:40] baer999 opened #249 "Exception thrown: The payload was invalid."
When calling in App.razor file, I'm getting error (just on first Rendering).

Exception is thrown when calling:

AppState.BasketData = await ProtectedLocalStore.GetAsync<BasketState>($"Basket_{My.StoreId}") ?? new BasketState();

The Code is here:

` public class AppBase : ComponentBase
    {
        [Inject] protected AppState AppState { get; set; }
        [Inject] IJSRuntime JS { get; set; }

[2020-02-02 13:36] GoranHalvarsson opened #250 "Update ComponentsElectron to latest blazor preview relase"
Please update ComponentsElectron to current blazor preview.
Because of breaking changes in the preview 3.2.0-preview1.20073.1.

[2020-02-16 02:48] yenntsmartosc opened #259 "It's not able to proxy https request"
Hi Team,

First of all, i would like to say thank you for your great work on this experiment!
I'm using your Proxy code to build a POC reverse proxy with asp.net core 3.1 in orders to proxy http, https and websocket request. What i expect is my proxy will forward exact request to target and return response to client and nothing more.

What i have done is creating an aspnet core API and installed t

[2020-03-08 13:43] mijgame opened #263 "Microsoft.AspNetCore.Grpc.HttpApi doesn't return the status set in the handler"
Hi!

I was trying out the Microsoft.AspNetCore.Grpc.HttpApi package to map Grpc calls to HTTP.
One of the things I'm running into, is that statusses (such as `StatusCode.InvalidArgument`) are not passed through to the REST client.

The `HandleCallAsync` function in the `UnaryServerCallHandler` basically does nothing with the status in the `ServerCallContext`.

Are there any plans on adding this fu

[2020-03-17 03:57] #263 closed

[2020-03-17 03:58] JamesNK commented on #263
Fixed. gRPC status codes now map to HTTP status codes. Logic matches what grpc-gateway does here.

[2020-04-08 10:39] PoojaPadia commented on #185
Any solution for this issue?

[2020-04-09 12:00] Lechus commented on #185
these packages are outdated?
Need to grab the source code?

[2020-04-10 03:30] albertyfwu opened #270 "Interceptors don't work with HttpApi"
Previously, in my gRPC project, I had gRPC interceptors for logging and exception wrapping.

Now, after adding `GrpcHttpApi`, whenever I get an inbound request, I get `System.InvalidOperationException: 'Could not get HttpContext from ServerCallContext. HttpContext can only be accessed when gRPC services are hosted by Kestrel.'` in `Grpc.Shared.Server.InterceptorPipelineBuilder.cs`.

Is it possible

[2020-04-10 03:59] albertyfwu commented on #270
I'm actually pretty confused why it's not working...

Exception is generated here:
https://github.com/grpc/grpc-dotnet/blob/master/src/Grpc.AspNetCore.Server/ServerCallContextExtensions.cs#L64

That means that `serverCallContext.UserState` was probably `null` or the `__HttpContext` key didn't exist in it.

But `.UserState => UserStateCore` in https://github.com/grpc/grpc/blob/master/src/csharp/Grp

[2020-04-10 04:49] albertyfwu commented on #270
Never mind. The change was made [here](https://github.com/grpc/grpc-dotnet/commit/afc2b217619e9f96e3de3be2dfce650a9468939c) and it's not in the latest version of `Grpc.AspNetCore` yet. How can I get access to this other than compiling from source?

[2020-04-14 01:39] JamesNK commented on #270
It is available now from the nightly build feed.

https://github.com/aspnet/AspLabs/tree/master/src/GrpcHttpApi#nuget-feed

[2020-04-14 01:39] #270 closed

[2020-04-14 02:07] albertyfwu commented on #270
Thanks!

[2020-04-14 02:17] albertyfwu commented on #270
@JamesNK I just double-checked, and the change is in `Grpc.AspNetCore`, not `GrpcHttpApi`.

[2020-04-16 06:24] krigol opened #273 "GrpcHttpApi missing descriptor.proto file"
Hello, so I'm trying to use the GrpcHttpApi along with Grpc Swagger. The Sample uploaded in the project works perfect, but when I try to reproduce it in my own project, follow the steps, the `google/api/annotations.proto` file says it's missing `google/protobuf/descriptor.proto`. I looked for it in your Sample project for referance, but it wasn't there. From a `grep 'descriptor.proto' -r` scan I n

[2020-04-22 17:44] Wolftousen commented on #241
We just encountered this too and why just had to scrap using this library all together.  We could have set up an AWS DataProtection provider (https://aws.amazon.com/blogs/developer/aws-ssm-asp-net-core-data-protection-provider/), but we opted not too.

We are planning on going full client side Blazor later this year, so i'm not sure how viable this library will be in that regard.  The DataProtecti

[2020-04-29 06:05] AndreHamilton-MSFT opened #277 "AzureContainerRegistryWebHook broken in asp.net 3.1"
Attempting to use AzureContainerRegistryWebHook on controller class is broken in asp.net core 3.1. When a request comes in it throws exception NotSupportedExcetion with the following stack

 	Microsoft.AspNetCore.WebHooks.Receivers.dll!Microsoft.AspNetCore.WebHooks.WebHookRequestReader.ReadBodyAsync<Newtonsoft.Json.Linq.JContainer>(Microsoft.AspNetCore.Mvc.ActionContext actionContext)	Unknown
 	Mi

[2020-04-29 18:37] dougbu commented on #277
I suspect the `WebHookRequestReader` is using pub-ternal methods from dotnet/aspnetcore which have changed significantly since the code in this repo was written. @Tratcher and I would need to figure out the best approach.

[2020-04-30 17:40] Tratcher commented on #277
This should be all you need:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.httprequestrewindextensions.enablebuffering?view=aspnetcore-3.1

[2020-05-02 08:18] MarkBQE commented on #231
Content-Type Header is

Content-Type | text/xml; charset=utf-8

[2020-05-02 19:50] mguinness commented on #231
Have you tried the latest 3.1 release?  It seems like there was a regression with [EnableBuffering not working on .Net Core 3.0.100](https://github.com/dotnet/aspnetcore/issues/14396) causing issues.

[2020-05-04 07:31] MarkBQE commented on #231
This piece of code in the middle ware pipeline worked for me. thanks for this tip

app.Use(next => context =>
		{
			var syncIOFeature = context.Features.Get<IHttpBodyControlFeature>();
			if (syncIOFeature != null)
			{
				syncIOFeature.AllowSynchronousIO = true;
			}

			context.Request.EnableBuffering();
			return next(context);
		});

[2020-05-04 16:49] mguinness commented on #231
Awesome, thanks for sharing your workaround.

[2020-05-06 07:49] johnib commented on #215
any update on this @sanjaycedti ?

[2020-05-06 09:27] MoustafaKarrar opened #279 "missing reference everywhere but server project"
Hi,
I have a self hosted Blazor web assembly app, I have installed the package on Server, Client and  Shared projects, but when import the name space
{using Microsoft.AspNetCore.ProtectedBrowserStorage;}
in any project but Server project it gives me the following error
"the type or namespace 'ProtectedBrowserStorage' does not exists in the namespace ' Microsoft.AspNetCore'(are missing an assembly

[2020-05-06 15:12] sanjaycedti commented on #215
I migrated the code to .net core 2.x (pure .net core without .net framework) to make it work.

[2020-05-07 19:45] wmmihaa opened #280 "PLEASE PLEASE PLEASE migrate the webhook library to dotnetcore 3.1!"
After migrating a .Net Framework project to #dotnetcore  (66K lines of C# code) for 4 months, we realized .Net Core dropped support for WebHooks...

[2020-05-09 12:21] #279 closed

[2020-06-03 04:11] alejandrobonillamondragon opened #284 "GrpcHttpApi for .NET Core 3.1"
I was able to run the example provided for .NET Core 3.0 and it's exactly what I was looking for, however, it doesn't work for 3.1 and I cannot downgrade to 3.0. Any plan to support 3.1?

[2020-06-05 05:10] sk6868 opened #286 "Please publish to Nuget Gallery"
Hello,

I know this code is not yet in production, but it would be great if it were published as a NuGet package.  Are there are any plans to do so in the near future?

[2020-06-06 00:17] JamesNK commented on #284
It works in 3.1 - https://github.com/aspnet/AspLabs/tree/master/src/GrpcHttpApi/sample

[2020-06-06 00:17] #284 closed

[2020-06-07 18:42] Curtis- commented on #286
They already have:
https://www.nuget.org/packages/Microsoft.AspNetCore.ProtectedBrowserStorage

[2020-08-07 03:43] VenkateshSrini opened #296 "ProtectedBrowserStorage IndexDB protection"
Hi,
Though this library has a well-defined goal of protecting the content in local storage, can the same mechanism be extended to handle content for IndexDB also? This will be useful in the progressive Blazor app. We can use the IndexDB persistence as an offline store and maybe sync when the network is online again.

[2020-08-09 23:25] AndreHamilton-MSFT commented on #277
Yes, i was able to use this to resolve the issue using buffering

[2020-08-09 23:25] #277 closed

[2020-08-28 06:14] davidfowl commented on #280
We have no plans, but feel free to fork the code.

[2020-08-28 06:18] davidfowl commented on #259
Not sure what the problem is but you might want to try https://github.com/microsoft/reverse-proxy

[2020-08-28 06:19] davidfowl commented on #273
cc @JamesNK

[2020-08-28 06:20] davidfowl commented on #108
See https://github.com/microsoft/reverse-proxy

[2020-08-28 06:20] #108 closed

[2020-08-28 06:21] davidfowl commented on #107
cc @Tratcher

[2020-08-28 06:21] davidfowl commented on #103
See https://github.com/microsoft/reverse-proxy

[2020-08-28 06:21] #103 closed

[2020-08-28 06:21] davidfowl commented on #102
See https://github.com/microsoft/reverse-proxy

[2020-08-28 06:21] #102 closed

[2020-08-28 06:22] davidfowl commented on #100
All future proxy work is happening at https://github.com/microsoft/reverse-proxy

[2020-08-28 06:22] #100 closed

[2020-08-28 06:22] davidfowl commented on #101
See https://github.com/microsoft/reverse-proxy for future proxy improvements

[2020-08-28 06:22] #101 closed

[2020-08-28 06:22] davidfowl commented on #99
See https://github.com/microsoft/reverse-proxy for future proxy improvements

[2020-08-28 06:22] #99 closed

[2020-08-28 06:22] davidfowl commented on #65
See https://github.com/microsoft/reverse-proxy for future proxy improvements

[2020-08-28 06:22] #65 closed

[2020-08-28 06:23] davidfowl commented on #64
See https://github.com/microsoft/reverse-proxy for future proxy improvements

[2020-08-28 06:23] #64 closed

[2020-08-28 06:23] davidfowl commented on #98
See https://github.com/microsoft/reverse-proxy for future proxy improvements

[2020-08-28 06:23] #98 closed

[2020-08-28 06:23] davidfowl commented on #95
See https://github.com/microsoft/reverse-proxy for future proxy improvements

[2020-08-28 06:23] #95 closed

[2020-08-28 06:42] hikalkan commented on #103
Thanks @davidfowl

[2020-08-28 11:30] #280 closed

[2020-08-28 15:44] Tratcher commented on #107
FYI this proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:00] #107 closed

[2020-08-28 17:00] davidfowl commented on #158
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:00] #158 closed

[2020-08-28 17:01] davidfowl commented on #106
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:01] #106 closed

[2020-08-28 17:01] davidfowl commented on #105
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:01] #105 closed

[2020-08-28 17:01] davidfowl commented on #104
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:01] #104 closed

[2020-08-28 17:01] davidfowl commented on #97
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:01] #97 closed

[2020-08-28 17:01] davidfowl commented on #96
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:01] #96 closed

[2020-08-28 17:01] davidfowl commented on #94
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:01] #94 closed

[2020-08-28 17:01] davidfowl commented on #93
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:01] #93 closed

[2020-08-28 17:02] davidfowl commented on #92
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:02] #92 closed

[2020-08-28 17:03] davidfowl commented on #91
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:03] #91 closed

[2020-08-28 17:03] davidfowl commented on #90
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:03] #90 closed

[2020-08-28 17:03] davidfowl commented on #89
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:03] #89 closed

[2020-08-28 17:03] davidfowl commented on #88
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:03] #88 closed

[2020-08-28 17:03] davidfowl commented on #87
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:03] #87 closed

[2020-08-28 17:03] davidfowl commented on #86
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:03] #86 closed

[2020-08-28 17:03] davidfowl commented on #78
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:03] #78 closed

[2020-08-28 17:04] davidfowl commented on #76
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:04] #76 closed

[2020-08-28 17:04] davidfowl commented on #75
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:04] #75 closed

[2020-08-28 17:04] davidfowl commented on #61
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:04] #61 closed

[2020-08-28 17:05] #259 closed

[2020-08-28 17:05] davidfowl commented on #215
All proxy work has moved to https://github.com/microsoft/reverse-proxy.

[2020-08-28 17:05] #215 closed

[2020-08-28 19:41] mkArtakMSFT commented on #296
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:41] #296 closed

[2020-08-28 19:41] mkArtakMSFT commented on #286
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:41] #286 closed

[2020-08-28 19:41] mkArtakMSFT commented on #273
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:41] #273 closed

[2020-08-28 19:42] mkArtakMSFT commented on #250
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:42] #250 closed

[2020-08-28 19:42] mkArtakMSFT commented on #249
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:42] #249 closed

[2020-08-28 19:42] mkArtakMSFT commented on #246
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:42] #246 closed

[2020-08-28 19:42] mkArtakMSFT commented on #241
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:42] #241 closed

[2020-08-28 19:42] mkArtakMSFT commented on #237
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:42] #237 closed

[2020-08-28 19:42] mkArtakMSFT commented on #234
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:42] #234 closed

[2020-08-28 19:42] mkArtakMSFT commented on #231
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:42] #231 closed

[2020-08-28 19:42] mkArtakMSFT commented on #226
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:42] #226 closed

[2020-08-28 19:42] mkArtakMSFT commented on #222
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:42] #222 closed

[2020-08-28 19:43] mkArtakMSFT commented on #220
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:43] #220 closed

[2020-08-28 19:43] mkArtakMSFT commented on #212
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:43] #212 closed

[2020-08-28 19:43] mkArtakMSFT commented on #206
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:43] #206 closed

[2020-08-28 19:44] mkArtakMSFT commented on #187
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:44] #187 closed

[2020-08-28 19:44] mkArtakMSFT commented on #185
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:44] #185 closed

[2020-08-28 19:44] mkArtakMSFT commented on #63
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:44] #63 closed

[2020-08-28 19:44] mkArtakMSFT commented on #62
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:44] #62 closed

[2020-08-28 19:44] mkArtakMSFT commented on #56
Thanks for contacting us.
We have no plans to implement any additional web hooks.

[2020-08-28 19:44] #56 closed

[2020-08-28 19:45] mkArtakMSFT commented on #55
Thanks for contacting us. There are no plans to implement any additional WebHooks.

[2020-08-28 19:45] #55 closed

[2020-08-28 19:45] mkArtakMSFT commented on #54
Thanks for contacting us. There are no plans to implement any additional web hooks.

[2020-08-28 19:45] #54 closed

[2020-08-28 19:46] mkArtakMSFT commented on #53
Thanks for contacting us.
We're closing this issue as we're using `dotnet/AspNetCore` repo's issue tracker instead.
If you think this issue is still relevant, please file a new issue in that repo, so the team can triage it.

[2020-08-28 19:46] #53 closed

[2020-08-28 19:46] mkArtakMSFT commented on #52
Thanks for contacting us. There are no plans to implement any additional web hooks.

[2020-08-28 19:46] #52 closed

[2020-08-28 19:48] mkArtakMSFT commented on #50
Thanks for contacting us. We have no plans to add new features in this area.

[2020-08-28 19:48] #50 closed

[2020-08-28 19:48] mkArtakMSFT commented on #49
Thanks for contacting us. We have no plans to add new features in this area.

[2020-08-28 19:48] #49 closed

[2020-08-28 19:48] mkArtakMSFT commented on #48
Thanks for contacting us. We have no plans to add new features in this area.

[2020-08-28 19:48] #48 closed

[2020-08-28 19:48] mkArtakMSFT commented on #47
Thanks for contacting us. We have no plans to add new features in this area.

[2020-08-28 19:48] #47 closed

[2020-08-28 19:49] mkArtakMSFT commented on #46
Thanks for contacting us. We're closing this issue as this project is in maintenance mode and only critical security issues are being considered.

[2020-08-28 19:49] #46 closed

[2020-08-28 19:49] mkArtakMSFT commented on #45
Thanks for contacting us. We're closing this issue as this project is in maintenance mode and only critical security issues are being considered.

[2020-08-28 19:49] #45 closed

[2020-08-28 19:49] mkArtakMSFT commented on #44
Thanks for contacting us. We're closing this issue as this project is in maintenance mode and only critical security issues are being considered.

[2020-08-28 19:49] #44 closed

[2020-08-28 19:49] mkArtakMSFT commented on #43
Thanks for contacting us. We're closing this issue as this project is in maintenance mode and only critical security issues are being considered.

[2020-08-28 19:49] #43 closed

[2020-08-28 19:49] mkArtakMSFT commented on #42
Thanks for contacting us. We're closing this issue as this project is in maintenance mode and only critical security issues are being considered.

[2020-08-28 19:49] #42 closed

[2020-08-28 19:50] mkArtakMSFT commented on #51
Thanks for contacting us. We're closing this issue as this project is in maintenance mode and only critical security issues are being considered.

[2020-08-28 19:50] #51 closed

[2020-08-28 19:50] mkArtakMSFT commented on #41
Thanks for contacting us. We're closing this issue as this project is in maintenance mode and only critical security issues are being considered.

[2020-08-28 19:50] #41 closed

[2020-08-28 19:50] #40 closed

[2020-08-28 19:50] mkArtakMSFT commented on #39
Thanks for contacting us. We're closing this issue as this project is in maintenance mode and only critical security issues are being considered.

[2020-08-28 19:50] #39 closed

[2020-08-28 19:50] mkArtakMSFT commented on #38
Thanks for contacting us. We're closing this issue as this project is in maintenance mode and only critical security issues are being considered.

[2020-08-28 19:50] #38 closed

[2021-03-08 21:07] wtgodbe opened #336 "Default branch changing from "master" to "main" on 3/11/21"
On March 11, we're going to rename the default branch in this repository to main. For more details, see [our earlier announcement](https://github.com/dotnet/announcements/issues/172).

[2021-03-15 19:10] VictorioBerra opened #346 "Easy way to require Authentication for Proxy?"
Is there an easy way to `[Authorize]` the Proxy middleware so it only runs if there is a cookie for the user?

[2021-03-25 16:42] wtgodbe commented on #336
This is done

[2021-03-25 16:42] #336 closed

[2021-03-30 13:06] ba32107 opened #350 "GrpcHttpApi support for paths with wildcards"
Hi,

Thanks for this library - it is extremely useful. As reported in https://github.com/grpc/grpc-dotnet/issues/167 by multiple people, paths with wildcards are not supported.
[Example 1](https://github.com/grpc/grpc-dotnet/issues/167#issuecomment-748921934)
[Example 2](https://github.com/grpc/grpc-dotnet/issues/167#issuecomment-727203265)
[Example 3](https://github.com/grpc/grpc-dotnet/issues/16

[2021-04-08 07:47] NedDerick opened #354 "Status question"
Hi guys,

Is the grpcHttpApi project still alive or is the recommendation still to use the "generator" approach at this stage?

We have multiple REST API's that we want to migrate to gRPC, but we need to keep supporting REST for the time being. This looks like a perfect solution for what we need. I don't mind using experimental code, as long as it will be supported in future, but I don't see a com

[2021-04-21 21:00] bradbamford opened #356 "Bug: headManager.js fails to inject when Blazer base href modified."
I'm using a base url for Blazor, and

**Error:**
Failed to fetch dynamically imported module: https://localhost:5001/blazor/_content/Microsoft.AspNetCore.Components.Web.Extensions/headManager.js

**_Host.cshtml contains:**
`<base href="~/blazor/" />`
...
`<script src="~/_framework/blazor.server.js"></script> `
`<script src="~/_content/Microsoft.AspNetCore.Components.Web.Extensions/headManager.js">

[2021-05-01 20:06] fl0wm0ti0n commented on #350
io run also into this i think...

Schweregrad	Code	Beschreibung	Projekt	Datei	Zeile	Unterdrückungszustand
Fehler		File not found.	GrpcService_Test	C:\flowTFS\softwareentwicklung\c-sharp-projects\GrpcService-Test\google\api\annotations.proto	1

Schweregrad	Code	Beschreibung	Projekt	Datei	Zeile	Unterdrückungszustand
Fehler		Import "google/api/annotations.proto" was not found or had errors.	GrpcServi

[2021-05-12 19:06] BaleCR7 opened #363 "GrpcHttpApi Exceptions Not getting Logged"
Hi,

I may have missed something, but I don't seem to see exceptions that are being thrown by our Controller being logged on the Server when making HTTP/Rest calls. I do see the exceptions being logged when making grpc calls.

[2021-05-13 06:53] thepra opened #364 "[Question] On the future of Components.Web.Extensions"
It's been many months(7-8) the last time that that project saw any update and I do run this library in production(SEO titles are important for me).

Is there any plan for this "experiment" going forward and see a production ready release?
Or should I just leave it and rely on our own implementation for changing the title or other things that this library enables?

[2021-05-14 16:36] groogiam opened #365 "Microsoft.AspNetCore.Components.Web.Extensions Title headManager.js Uncaught SyntaxError: Unexpected token 'export'"
Microsoft.AspNetCore.Components.Web.Extensions headmanager.js causes the following error when using the <Title> component.

![image](https://user-images.githubusercontent.com/1992395/118301334-edb15e00-b4b0-11eb-8789-b2b6c9326c57.png)

[2021-06-23 09:22] ZyuanC commented on #365
I am afraid you did not specify the type of the referenced <script> tag in the index.html. Load it in "module" type explicitly, you can try this

<script src="_content/Microsoft.AspNetCore.Components.Web.Extensions/headManager.js" type="module"></script>

[2021-06-23 12:05] #365 closed

[2021-07-19 20:19] BrennanConroy commented on #346
Take a look at YARP instead
https://github.com/microsoft/reverse-proxy

[2021-07-19 20:19] #346 closed

[2021-07-19 20:21] BrennanConroy commented on #354
As long as it is in this repo it is not supported and the future is unknown for it.

[2021-07-19 20:21] #354 closed

[2021-07-19 20:44] mkArtakMSFT commented on #364
Thanks for contacting us. We've productized this as part of the work in the dotnet/aspnetcore repo: https://github.com/dotnet/aspnetcore/issues/25705
It will ship in the upcoming 6.0-preview7 release.

[2021-07-19 20:44] #364 closed

[2021-07-19 21:11] MackinnonBuck commented on #356
We are introducing a new way to modify the HTML head from Blazor, which will hopefully be available in preview7 (or rc1 at the latest). It will not require an additional JS file as `Components.Web.Extensions` did, so this problem will naturally go away.

[2021-07-19 21:12] #356 closed

[2021-07-20 02:15] JamesNK commented on #350
Hi

This feature could be difficult. The non-wildcard routes maps directly to the existing ASP.NET Core route syntax. However, wildcard routes will need to be rewritten inside the library before they can be used. That might be simple, or it could be quite difficult.

If someone wants to attempt it then a PR is welcome.

[2021-07-20 02:18] JamesNK commented on #363
If that is happening then it is a bug that should be fixed.

Error conditions are a place where there hasn't been much testing in GrpcHttpApi.

[2021-07-20 02:24] BrennanConroy commented on #363
This issue was moved to dotnet/aspnetcore#34523

[2021-07-20 02:24] #363 closed

[2021-07-20 02:24] BrennanConroy commented on #350
This issue was moved to dotnet/aspnetcore#34524

[2021-07-20 02:24] #350 closed